name: Desktop build & publish (tags)

on:
  push:
    tags:
      - "desktop-v*"

concurrency:
  group: desktop-publish-tags-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run:
    uses: ./.github/workflows/desktop-build-and-publish-reusable.yml
    secrets: inherit
